.cadastro-usuario-page {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #f4f7fc;
}

.cadastro-form {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cadastro-form h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #334155;
}

.cadastro-form p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #64748B;
}

.cadastro-form .input-group {
  display: flex;
  flex-direction: column;
}

.cadastro-form .input-group label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #4a5568;
}

.cadastro-form .input-group input,
.cadastro-form .input-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1rem;
}

.form-message {
  padding: 1rem;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
}

.error-message {
  background-color: #fee2e2;
  color: #b91c1c;
  border: 1px solid #fecaca;
}

.success-message {
  background-color: #dcfce7;
  color: #166534;
  border: 1px solid #bbf7d0;
}

.button-save {
padding: 0.8rem;
border: none;
background-color: #3b82f6; /* Azul */
color: white;
border-radius: 6px;
font-size: 1.1rem;
font-weight: 600;
cursor: pointer;
margin-top: 1rem;
transition: background-color 0.3s ease;
}

.button-save:hover {
background-color: #2563eb;
}


.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex-grow: 1; /* Faz com que o conteúdo principal ocupe o espaço disponível */
}